<h1>Welcome!</h1>

<form action="/greet" method="POST">
  <label for="user_name">Enter your Name:</label>

  <p><input type="text" name="user_name" id="user_name" /></p>
  
  <label for="car_name">Enter your Car:</label>

  <p><input type="text" name="car_name" id="car_name" /></p>

  <input type="submit" value="Submit"/>
</form>
