<%# Write your code here! %>
<h1>Welcome!</h1>
<form action="/greet" method="post">
  <label for="user_name"></label>
  <p><input type="text" name="user_name" value=""/></p>
  <input type="submit" value="Submit"/>
</form>
