<!DOCTYPE html>

<html>
  <head>
    <title>Enter Name Greeting</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <form action="/greet" method="POST">
      <label for="user_name">Name:</label>
      <p><input type="text" id="user_name" name="user_name"/></p>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
