<h1>Welcome!</h1>
<form action="/greet" methad="post">
  <label for="input_user_name">User Name</label>
  <input type="string" name="user_name" id="input_user_name" />
  <input type="submit" id="Submit"/>
</form>
