<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <h3>If you enter your name, I can say hi!</h2>
    <form action="/greet" method="post">
      <label for="user_name">Name:</label>
      <input type="text" name="user_name" placeholder="username" id="user_name">
      <p><label for="color">Favorite Color:</label> <input type="text" name="color" placeholder="fav color" id=color></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
