

<style>
  body {
    text-align: center;
    padding-top:23%;
    font-family: Helvetica;
  }
</style>

<body>
  <h1>Welcome!</h1>
  <form action="/greet" method="POST">
    <label for="user_name">Name:</label>
    <p><input type="text" name="user_name" id="user_name" /></p>
    <input type="submit" value="Submit"/>
  </form>
</body>
