<%# Write your code here! %>
<!DOCTYPE html>
<html>
  <head>
    <title>
      Capybara Example
    </title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <h3>If you can tell me your name, I can say hi!</h3>
    <form action="/greet" method="POST">
      <p>
        <label for="put_name">Name:</label>
        <input type="text" name="user_name" id="put_name">
      </p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>