<%# Write your code here! %>
<h1>Welcome!</h1>

<form class="name" action="/greet" method="post">
  <p>user name<input type="text" name="user_name" id="user_name" /></p>

  <input type="submit" value="Submit"/>
</form>
