<!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <title></title>
   </head>
   <body>
     <h1>Welcome!</h1>
     <h2>If you tell me your name I can greet you!</h2>
     <form action="/" method="post">

        <label for="user_name">Name: </label>

        <p>
         <textarea name="user_name" id="user_name" rows="1" style="resize: none"></textarea>
       </p>

        <input type="submit" id="Submit">

      </form>
   </body>
 </html>